
.what-you-get {
  margin-top: 0;
  padding-top: 100px;
  text-align: center;

  &__title {
    @include font-open-sans(32px, bold, 38px);
    color: #8d81ac;
  }


    &__content--img {
      margin-top: 38px;
    }


  &__content--title {

    @include font-open-sans(16px, normal, 16px);
    color: rgba(50, 50, 50, 1);
    margin-top: 23px;
  }

  &__content--text {
    @include font-lato-sans(14px, normal, 21px);
    color: #848e97;
    margin-top: 14px;
  }

  &__code {
    display: block;
    margin-top: 64px;

    &__code--img {
      display: block;
      margin-left: auto;
      margin-right: 0;
    }
  }
}
@media screen and (min-width: 481px){


.what-you-get {
  &__title {
    @include font-open-sans(42px, bold, 44px);
  }

  &__content {
    display: grid;
    grid-template-columns: 111px 1fr;
    gap: 23px;
    row-gap: 65px;
    margin-top: 50px;
    padding-left: 30px;

    &__content--img {
      margin-top: 0;
    }

    .wrapper {
      text-align: left;
    }
  }

  &__content--title {
    margin-top: 0;
  }
}
}
@media screen and (min-width: 993px) {

  .what-you-get {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "content title"
      "content code";
    background-color: #F4F4F4;
    padding-bottom: 60px;
}

.what-you-get__content {
  grid-area: content;
  margin-top: 0;
  padding-left: 90px;
}

.what-you-get {
  title {
    grid-area: title;
    @include font-open-sans(48px, bold, 50px);
  }
}

.what-you-get__code {
  grid-area: code;
  margin-top: 19px;
}
}
